# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/interim/
data/processed/

# Generated Uploads and Reports
app/uploads/*
!app/uploads/.gitkeep
app/reports/*.pdf
!app/reports/Shreyank_Gautam_Resume*.pdf
!app/reports/.gitkeep

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
